header {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  position: absolute;

  .main-navigation {
    width: 40vw;
    
    display: flex;
    justify-content: space-between;

    .menu-navigation-container {
      width: 100%;
    }
    .menu {
      padding: 0 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      .menu-item-has-children {
        &:hover ~ .sub-menu {
          display: block;
        }
      }
    }

    .sub-menu {
      display: none;
      list-style-type: none;
    }
  }
}

.hero-img-pc {
  width: 100vw;  
}